/*
.app-wrapper {
    display: grid;
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    grid-template-areas:
    "a b";
    grid-template-rows: 44px;
    grid-template-columns: 20fr;
    background-color: #7EFFF5;
}
*/

.app-wrapper {
    display: flex;
    background-color: #7EFFF5;
}
